.contact-us-container{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/264/202/original/contact-us-concept-icons-such-as-mobile-phone-e-mail-address-chat-global-communication-on-black-background-for-presentation-web-banner-article-business-and-network-connection-and-company-free-vector.jpg");
    height: 100vh;
    background-size: cover;
}
.header{
    color: white;
}